html,body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}


body {
  background: url('img/about.jpg')no-repeat;
  background-size: 100% 100%;
}

p {
  color: #ffffff;
}

.about-paragraph {
 width: 50%;
 text-align: center;
 margin: 0% 0 0 26%;
 }

p.about-paragraph {
  font-family: "Open Sans",sans-serif;
  font-size: 1.4em;
  line-height: 1.5em;
}

.img {
  max-width: 100%;
  }

img.hirez {
  height: 5em;
  margin: 1% 0 1% 26%;
  }

img.logo {
  width: 12em;
}

.carousel-container {
  max-width: 54.5%;
}

.timeline-time {
  color:#fff;
}

.cd {
  background: #9E8E8E;
  opacity: 0.4;
  color: #ffffff;
  width: 53%;
  padding: 0 0 0 1%;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.boxart img {
  position: absolute;
  left: -260px;
  width: 15em;
}
