doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://tribesuniverse.s3.amazonaws.com/css/style.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript' src="https://tribesuniverse.s3.amazonaws.com/js/index.js")
    link(rel='stylesheet', type='text/css', href='https://tribesuniverse.s3.amazonaws.com/css/slick.css')
    link(rel='stylesheet', type='text/css', href='https://tribesuniverse.s3.amazonaws.com/css/slick-theme.css')
    script(type='text/javascript', src='http://cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js')
    link(rel='stylesheet', href='https://tribesuniverse.s3.amazonaws.com/css/timeliner.css', type='text/css')
    script(type='text/javascript' src='https://tribesuniverse.s3.amazonaws.com/js/timeliner.min.js')
    link(rel="shortcut icon" type="image/png" href="https://tribesuniverse.s3.amazonaws.com/img/favicon.png")
    title Tribes Universe
  body
    img.tribes(src="https://tribesuniverse.s3.amazonaws.com/img/Tribes.png") 
    .about
      p.about-paragraph Welcome! Join Hi-Rez Studios in celebrating over twenty years of the TRIBES Universe! Below you will find links to download the legacy games in the series. We love these games and hope to let you share the experience of the World's Fastest Shooter.
    #timeline.timeline-container
      button.timeline-toggle
      .timeline-wrapper
          h2.timeline-time 1994
          dl.timeline-series
            dt#event01.timeline-event
              a Earthsiege
            dd#event01EX.timeline-event-content
              .boxart
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/boxart/earthsiege.jpg")
              img.logo(src="https://tribesuniverse.s3.amazonaws.com/img/logo/earthsiege-logo.jpg")
              a(href="http://lwcdn.hi-rezgame.net/media/iso/Earthsiege.iso")  
                .download.earthsiege Download
              h1  Blast into the Cybrid Era! 
              p We had it coming. We created Cybrids with breakthrough AI to perform dangerous tasks with lightning precision. 
              p One apocalypse later, the Earth lies in ruin from these heavy metal marauders. You and your squad of HERCULAN warriors must prowl this target-rich wasteland to deliver some heavily mechanized payback. But beware--the Cybrids are an intelligent and relentless enemy. You'll constantly have to train new pilots, develop new tactics, and acquire new weapons to secure an advantage. If not, they'll be hosing your remains out of the cockpit for the next rookie.
              .carousel-container
                .carousel
                  div
                    img(src="https://tribesuniverse.s3.amazonaws.com/img/earthsiege-01.jpg")
                  div
                    img(src="https://tribesuniverse.s3.amazonaws.com/img/earthsiege-02.jpg")
                  div
                    img(src="https://tribesuniverse.s3.amazonaws.com/img/earthsiege-03.jpg") 
                  div
                    img(src="https://tribesuniverse.s3.amazonaws.com/img/earthsiege-04.jpg")
                  div
                    img(src="https://tribesuniverse.s3.amazonaws.com/img/earthsiege-05.jpg")
                  div
                    img(src="https://tribesuniverse.s3.amazonaws.com/img/earthsiege-06.jpg")
      .timeline-wrapper
        h2.timeline-time 1996
        dl.timeline-series
          dt#event02.timeline-event
            a Earthsiege 2
          dd#event02EX.timeline-event-content
            .boxart
              img(src="https://tribesuniverse.s3.amazonaws.com/img/boxart/earthsiege2.jpg")
            img.logo(src="https://tribesuniverse.s3.amazonaws.com/img/logo/earthsiege-2_logo.jpg")
            a(href="http://lwcdn.hi-rezgame.net/media/iso/Earthsiege2.iso")  
              .download.earthsiege2 Download
            h1 In the final showdown it's blood 
            h1 and bone against silicon and steel!
            p After earning a brief respite, Cybrid forces have been detected en route from the moon. Once again, you must pilot your HERCs to victory or face certain annihilation.
            .carousel-container
              .carousel
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/earthsiege2-01.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/earthsiege2-02.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/Earthsiege2-03.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/earthsiege2-04.jpg")
      .timeline-wrapper
        h2.timeline-time 1998
        dl.timeline-series
          dt#event03.timeline-event
            a Starseige:Tribes
          dd#event03EX.timeline-event-content
            .boxart
              img(src="https://tribesuniverse.s3.amazonaws.com/img/boxart/starsiege.jpg")
            img.logo(src="https://tribesuniverse.s3.amazonaws.com/img/logo/starsiegetribes_logo.png")
            a(href="http://lwcdn.hi-rezgame.net/media/iso/StarsiegeAndStarsiegeTribes.iso")
              .download.starsiege Download
            h1 Two Games...One Universe 
            p The year is 2829. For decades, the Empire has gathered its forces, rebuilding after the last Earthsiege, preparing its HERCs, monsters of metal and power, for the next Cybrid invasion. This time is near, yet humans are not united. This is Starsiege. What will be their destiny?
            p Eleven hundred years later, hundreds of tribes exist, scattered across the galaxy, exploring, discovering, and fighting for worlds. For these people, war is a constant way of life. Someday perhaps the Tribes will be united again, but for now, each and every moment is a fight for supremacy, and the life of your tribesmen is as precious as your own.
            .carousel-container
              .carousel
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/starsiege-01.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/starsiege-02.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/starsiege-03.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/starsiege-04.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/starsiege-05.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/starsiege-06.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/starsiege-07.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/starsiege-08.jpg")
      .timeline-wrapper
        h2.timeline-time 2001
        dl.timeline-series
          dt#event04.timeline-event
            a Tribes 2
          dd#event04EX.timeline-event-content
            .boxart
              img(src="https://tribesuniverse.s3.amazonaws.com/img/boxart/Tribes2.jpg")
            img.logo(src="https://tribesuniverse.s3.amazonaws.com/img/logo/tribes2_logo.jpg")
            a(href="http://lwcdn.hi-rezgame.net/media/iso/Tribes2.iso")
              .download.tribes2 Download 
            h1 Team Combat on an Epic Scale
            p Unparalleled gameplay! 10 weapons, 6 land and air vehicles, 3 armor types and a lot more at your disposal. Adapt your tribe's tactics, strategies, and individual player roles on the fly to fit the war being waged. It's the only way to ensure survival and, ultimately, victory.
            .cd TUN9-FAB4-DUW8-ZAB7-4847
            .carousel-container
              .carousel
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribes2-01.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribes2-02.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribes2-03.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribes2-04.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribes2-05.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribes2-06.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribes2-07.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribes2-08.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribes2-09.jpg")
      .timeline-wrapper
        h2.timeline-time 2002
        dl.timeline-series
          dt#event05.timeline-event
            a Tribes: Aerial Assault
          dd#event05EX.timeline-event-content
            .boxart
              img(src="https://tribesuniverse.s3.amazonaws.com/img/boxart/tribesaa.jpg")
            img.logo(src="https://tribesuniverse.s3.amazonaws.com/img/logo/TribesAA_logo.png")
            a(href="http://lwcdn.hi-rezgame.net/media/iso/TribesAerialAssault.iso")
              .download.aa Download
            h1 Death from Above! 
            p Soar over tormented landscapes. Destroy heavily defended enemy bases. Restore glory to the Tribe!  
            p Five years after the events of Tribes 2, neo-barbarian tribes are trying to take over new worlds on the frontier of human space. Tribal warriors in powered armor enter the fray, relying on individual skill and courage to win this war. Take control of J. Ransom, a newblood who is fighting for not just his world, but his Tribe.
            .carousel-container
              .carousel
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-01.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-02.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-03.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-04.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-05.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-06.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-07.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-08.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-09.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/tribesaa-10.jpg")
      .timeline-wrapper
        h2.timeline-time 2004
        dl.timeline-series
          dt#event06.timeline-event
            a Tribes Vengeance
          dd#event06EX.timeline-event-content
            .boxart
              img(src="https://tribesuniverse.s3.amazonaws.com/img/boxart/vengeance.jpg")
            img.logo(src="https://tribesuniverse.s3.amazonaws.com/img/logo/Vengeance_logo.png")
            a(href="http://lwcdn.hi-rezgame.net/media/iso/TribesVengeance.zip")
              .download.vengeance Download
            h1 Vengeance Reigns from Above
            p Destruction. Chaos. Retribution. Tribes is back with a vengeance. The ultimate high-flying , multiplayer battle experience returns with deadly new weapons, faster and more versatile flight, in-depth strategic team action, and the first-ever Tribes single-player campaign.
            .carousel-container
              .carousel
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-01.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-02.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-03.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-04.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-05.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-06.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-07.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-08.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-09.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-10.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-11.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/vengeance-12.jpg")
      .timeline-wrapper
        h2.timeline-time 2012
        dl.timeline-series
          dt#event07.timeline-event
            a Tribes Ascend
          dd#event07EX.timeline-event-content
            .boxart 
              img(src="https://tribesuniverse.s3.amazonaws.com/img/boxart/ascend.jpg")
            img.logo(src="https://tribesuniverse.s3.amazonaws.com/img/logo/Ascend_logo.png")
            a(href="http://www.hirezstudios.com/tribesascend/home")
              .download.ascend View Website
            h1 World's Fastest Shooter  
            p This free-to-play game boasts classic Tribes combat mechanics like jetpacks, skiing, and vehicles, while introducing multiple classes into the battlefield. Play as any of nine classes, with unique weapon loadouts and abilities. As you shoot down enemies or accomplish objectives, you earn credits to upgrade base defenses, access vehicles, or call in tactical strikes, leading to escalating battles the longer each engagement lasts. Face off against other players in fast-paced deadly arenas to decide which Tribe is superior!
            .carousel-container
              .carousel
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/ascend-01.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/ascend-02.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/ascend-03.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/ascend-04.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/ascend-05.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/ascend-06.jpg")
                div
                  img(src="https://tribesuniverse.s3.amazonaws.com/img/ascend-07.jpg")                                 
    .footer  
      p.copyright © 2015 Hi-Rez Studios, Inc. All rights reserved. All trademarks referenced herein are the properties of their respective owners. The trademarks of Hi-Rez Studios, Inc. and others may not be used without the prior written consent of the trademark owner.

      a(href="http://www.hirezstudios.com")
        img(src="https://tribesuniverse.s3.amazonaws.com/img/hirez.png")
script.
  $(document).ready(function() {
    $.timeliner({});
  });
script.
  $('.carousel').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 5000,
    variableWidth: true,

  });
  
script.
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65797807-1', 'auto');
  ga('send', 'pageview');

  
