doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/style.css")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
    script(type='text/javascript' src="js/index.js")
    link(rel='stylesheet', type='text/css', href='slick/slick.css')
    link(rel='stylesheet', type='text/css', href='slick/slick-theme.css')
    script(type='text/javascript', src='http://cdn.jsdelivr.net/jquery.slick/1.5.6/slick.min.js')
    link(rel='stylesheet', href='css/timeliner.css', type='text/css')
    script(type='text/javascript' src='js/timeliner.min.js')
  body
    .top-nav
      img.hirez(src="http://www.mmoreviews.com/imgs/hi-rez-logo.png")
    .about
      p.about-paragraph Globally drive sustainable core competencies for market-driven meta-services. Synergistically productize corporate content for process-centric infomediaries. Uniquely evolve excellent systems after multifunctional human capital. Collaboratively pontificate premier markets and emerging value. Uniquely deliver competitive experiences after unique platforms.
    #timeline.timeline-container
      button.timeline-toggle
      .timeline-wrapper
          h2.timeline-time 1994
          dl.timeline-series
            dt#event01.timeline-event
              a Earthsiege
            dd#event01EX.timeline-event-content
              .boxart
                  img(src="img/boxart/earthsiege.jpg")
              img.logo(src="img/logo/earthsiege-logo.jpg")
              .download.earthsiege Download
              p Globally drive sustainable core competencies for market-driven meta-services. Synergistically productize corporate content for process-centric infomediaries. Uniquely evolve excellent systems after multifunctional human capital. Collaboratively pontificate premier markets and emerging value. Uniquely deliver competitive experiences after unique platforms.
              .cd CD Keys: 11111-11111-11111-11111 
              .carousel-container
                .carousel
                  div
                    img(src="img/earthsiege-01.jpg")
                  div
                    img(src="img/earthsiege-02.jpg")
                  div
                    img(src="img/earthsiege-03.jpg")
                  div
                    img(src="img/earthsiege-04.jpg")
                  div
                    img(src="img/earthsiege-05.jpg")
                  div
                    img(src="img/earthsiege-06.jpg")
      .timeline-wrapper
        h2.timeline-time 1996
        dl.timeline-series
          dt#event02.timeline-event
            a Earthsiege 2
          dd#event02EX.timeline-event-content
            .boxart
              img(src="img/boxart/earthsiege2.jpg")
            img.logo(src="img/logo/earthsiege-2_logo.jpg")
            .download.earthsiege2 Download
            p Enthusiastically utilize functionalized innovation without seamless catalysts for change. Distinctively pontificate highly efficient "outside the box" thinking for market positioning infrastructures. Holisticly formulate exceptional technologies with 24/7 interfaces. Progressively generate long-term high-impact e-tailers rather than parallel value. Conveniently integrate exceptional infrastructures without customized scenarios.
            .cd CD Key: 11111-11111-11111-11111
            .carousel-container
              .carousel
                div
                  img(src="img/earthsiege2-01.jpg")
                div
                  img(src="img/earthsiege2-02.jpg")
                div
                  img(src="img/earthsiege2-03.jpg")
                div
                  img(src="img/earthsiege2-04.jpg")
      .timeline-wrapper
        h2.timeline-time 1998
        dl.timeline-series
          dt#event03.timeline-event
            a Starseige:Tribes
          dd#event03EX.timeline-event-content
            .boxart
              img(src="img/boxart/starsiege.jpg")
            img.logo(src="img/logo/starsiegetribes_logo.png")
            a(href="")
              .download.starsiege Download 
            p Intrinsicly streamline cross functional technology through economically sound architectures. Collaboratively simplify prospective process improvements whereas premier process improvements. Collaboratively monetize accurate sources rather than front-end metrics. Dramatically incentivize interoperable human capital whereas one-to-one value. Assertively drive revolutionary best practices without team driven internal or "organic" sources.
            .cd CD Key: 11111-11111-11111-11111
            .carousel-container
              .carousel
                div
                  img(src="img/starsiege-01.jpg")
                div
                  img(src="img/starsiege-02.jpg")
                div
                  img(src="img/starsiege-03.jpg")
                div
                  img(src="img/starsiege-04.jpg")
                div
                  img(src="img/starsiege-05.jpg")
                div
                  img(src="img/starsiege-06.jpg")
                div
                  img(src="img/starsiege-07.jpg")
                div
                  img(src="img/starsiege-08.jpg")
      .timeline-wrapper
        h2.timeline-time 2001
        dl.timeline-series
          dt#event04.timeline-event
            a Tribes 2
          dd#event04EX.timeline-event-content
            .boxart
              img(src="img/boxart/tribes2.jpg")
            img.logo(src="img/logo/tribes2_logo.jpg")
            a(href="")
              .download.tribes2 Download 
            p Professionally supply end-to-end processes and 24/365 bandwidth. Energistically myocardinate just in time e-services for granular e-commerce. Collaboratively embrace seamless technologies after high-payoff e-services.
            .cd CD Key: 11111-11111-11111-11111
            .carousel-container
              .carousel
                div
                  img(src="img/tribes2-01.jpg")
                div
                  img(src="img/tribes2-02.jpg")
                div
                  img(src="img/tribes2-03.jpg")
                div
                  img(src="img/tribes2-04.jpg")
                div
                  img(src="img/tribes2-05.jpg")
                div
                  img(src="img/tribes2-06.jpg")
                div
                  img(src="img/tribes2-07.jpg")
                div
                  img(src="img/tribes2-08.jpg")
                div
                  img(src="img/tribes2-09.jpg")
      .timeline-wrapper
        h2.timeline-time 2002
        dl.timeline-series
          dt#event05.timeline-event
            a Tribes: Aerial Assault
          dd#event05EX.timeline-event-content
            .boxart
              img(src="img/boxart/tribesaa.jpg")
            img.logo(src="img/logo/tribesAA_logo.png")
            a(href="")
              .download.aa Download
            p Interactively morph resource sucking action items and an expanded array of metrics. Uniquely envisioneer enterprise benefits whereas proactive metrics. Proactively deliver viral metrics.
            .cd CD Key: 11111-11111-11111-11111
            .carousel-container
              .carousel
                div
                  img(src="img/tribesaa-01.jpg")
                div
                  img(src="img/tribesaa-02.jpg")
                div
                  img(src="img/tribesaa-03.jpg")
                div
                  img(src="img/tribesaa-04.jpg")
                div
                  img(src="img/tribesaa-05.jpg")
                div
                  img(src="img/tribesaa-06.jpg")
                div
                  img(src="img/tribesaa-07.jpg")
                div
                  img(src="img/tribesaa-08.jpg")
                div
                  img(src="img/tribesaa-09.jpg")
                div
                  img(src="img/tribesaa-10.jpg")
      .timeline-wrapper
        h2.timeline-time 2004
        dl.timeline-series
          dt#event06.timeline-event
            a Tribes Vengeance
          dd#event06EX.timeline-event-content
            .boxart
              img(src="img/boxart/vengeance.jpg")
            img.logo(src="img/logo/vengeance_logo.png")
            a(href="")
              .download.vengeance Download
            p Dramatically synergize seamless scenarios and high-quality functionalities. Energistically reconceptualize enterprise-wide action items for customer directed channels. Energistically disintermediate out-of-the-box paradigms whereas enterprise interfaces.
            .cd CD Key: 11111-11111-11111-11111
            .carousel-container
              .carousel
                div
                  img(src="img/vengeance-01.jpg")
                div
                  img(src="img/vengeance-02.jpg")
                div
                  img(src="img/vengeance-03.jpg")
                div
                  img(src="img/vengeance-04.jpg")
                div
                  img(src="img/vengeance-05.jpg")
                div
                  img(src="img/vengeance-06.jpg")
                div
                  img(src="img/vengeance-07.jpg")
                div
                  img(src="img/vengeance-08.jpg")
                div
                  img(src="img/vengeance-09.jpg")
                div
                  img(src="img/vengeance-10.jpg")
                div
                  img(src="img/vengeance-11.jpg")
                div
                  img(src="img/vengeance-12.jpg")
      .timeline-wrapper
        h2.timeline-time 2012
        dl.timeline-series
          dt#event07.timeline-event
            a Tribes Ascend
          dd#event07EX.timeline-event-content
            .boxart 
              img(src="img/boxart/ascend.jpg")
            img.logo(src="img/logo/ascend_logo.png")
            a(href="")
              .download.ascend Download
            p Dynamically monetize distributed supply chains whereas fully researched information. Competently engineer client-focused collaboration and idea-sharing rather than low-risk high-yield infrastructures. Globally actualize integrated.
            .cd CD Key: 11111-11111-11111-11111
            .carousel-container
              .carousel
                div
                  img(src="img/ascend-01.jpg")
                div
                  img(src="img/ascend-02.jpg")
                div
                  img(src="img/ascend-03.jpg")
                div
                  img(src="img/ascend-04.jpg")
                div
                  img(src="img/ascend-05.jpg")
                div
                  img(src="img/ascend-06.jpg")
                div
                  img(src="img/ascend-07.jpg")          
            button.timeline-toggle
            .footer
              img(src="")
script.
  $(document).ready(function() {
    $.timeliner({});
  });
script.
  $('.carousel').slick({
    slidesToShow: 1,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2000,
    variableWidth: true,
  });
